auth_url                      = "https://openstack.example/v3"
application_credential_id     = "replace-me"
application_credential_secret = "replace-me"
domain_name                   = "Default"
tenant_name                   = "admin"
region                        = "RegionOne"

public_key_path       = "/home/usuario/.ssh/facultad_admin.pub"
private_key_path      = "/home/usuario/.ssh/facultad_admin"
keypair_name          = "facultad-admin"
image_name            = "Ubuntu-24.04"
network_name          = "networks_uo288241"
ssh_allowed_cidr      = "156.35.0.0/16"
admin_user            = "admin"
create_floating_ips   = false

instances = {
  fe-01 = {
    subject     = "frontend"
    flavor_name = "m2_medium_2"
  }
  fe-02 = {
    subject     = "frontend"
    flavor_name = "m2_medium_2"
  }
}
