[defaults]
inventory = inventory/openstack.yml
host_key_checking = False
interpreter_python = auto_silent
roles_path = roles
gathering = explicit

[inventory]
enable_plugins = openstack.cloud.openstack, yaml, ini
